# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app
.idea
.idea/*

cmake-build-debug
cmake-build-debug/*
cmake-build-release/*
cmake-build-release
CMakeCache.txt
CMakeFiles/*
CMakeFiles
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cmake_install.cmake
*.sln
.vs/*
.vs
Debug/*
3d-cube.dir/*
Win32/*
Win32
Makefile
*.cbp
settings.json

.DS_Store

3d-cube

.vscode
.vscode/*

out/*

.ninja_deps
.ninja_log
x64/*
x64

rules.ninja
build.ninja

output/*
output

CmakeLists.txt.user
CMakeSettings.json

package-lock.json

3d-cube.dir
Debug
Debug/*
out/*
out
Release/*
Release

CTestTestfile.cmake

*.cmake

npm-debug.log

CMakeScripts/*

CMakeScripts

build/*
build64/*
build64
build

android/local.properties

.gradle
.idea
.cxx